* {
    font-family: "FiraCode Nerd", "JetbrainsMono Nerd", "Hack Nerd", sans-serif;
    border: none;
    border-radius: 0;
}

window#waybar {
    border-bottom: 0 solid #cc7722; /* muted pumpkin */
    background: #1d130e; /* dark roasted cola */
    transition-property: background-color;
    transition-duration: 0.5s;
}

#workspaces {
    margin: 0px 20px 0;
    padding: 3px;
    font-size: 14px;
    color: #ebdbb2; /* soft cream */
    opacity: 0.8;
}

#workspaces button {
    padding: 0 5px;
    margin: 2px 3px;
    border-radius: 10px;
    border: 0;
    color: #ebdbb2;
    transition: all 0.1s ease-in-out;
    opacity: 0.5;
}

#workspaces button.active {
    color: #1d130e; /* bg */
    background: #cc7722; /* muted pumpkin */
    padding: 0 15px;
    transition: all 0.1s ease-in-out;
    opacity: 1;
}

#workspaces button:hover {
    color: #ebdbb2;
    background: #17100b; /* dark_bg */
    border-radius: 15px;
    opacity: 0.4;
}

#window {
    padding: 3px 8px;
    color: #ebdbb2;
    font-size: 14px;
    opacity: 0.8;
}

.modules-right {
    margin: 0px 20px 0;
    padding: 5px 2px;
}

#idle_inhibitor {
    font-size: 16px;
    font-weight: bold;
    padding: 2px 10px;
    opacity: 0.8;
    color: #ebdbb2;
}

#idle_inhibitor.activated {
    font-size: 16px;
    font-weight: bold;
    opacity: 0.8;
    color: #e6b84a; /* golden yellow */
}

#pulseaudio {
    font-size: 16px;
    padding: 2px 10px;
    opacity: 0.8;
    color: #e6b84a;
}

#network {
    font-size: 16px;
    padding: 2px 10px;
    opacity: 0.8;
    color: #d68a4a; /* baked orange */
}

#cpu,
#memory {
    font-size: 16px;
    padding: 2px 10px;
    opacity: 0.8;
    color: #c87535; /* warm bronze */
}

#custom-power {
    font-size: 17px;
    font-weight: bold;
    padding: 2px 10px;
    opacity: 0.8;
    color: #d65d0e; /* gruvboxy orange */
}

