* {
    font-family: "FiraCode Nerd", "JetbrainsMono Nerd", "Hack Nerd", sans-serif;
    border: none;
    border-radius: 0;
}

window#waybar {
    border-bottom: 0 solid #ffffff;
    background: #0f1117;
    transition-property: background-color;
    transition-duration: 0.5s;
}

#workspaces {
    margin: 0px 20px 0;
    padding: 3px;
    font-size: 14px;
    color: #FFF;
    opacity: 0.8;
}

#workspaces button {
    padding: 0 5px;
    margin: 2px 3px;
    border-radius: 10px;
    border: 0;
    color: #FFF;
    transition: all 0.1s ease-in-out;
    opacity: 0.5;
}

#workspaces button.active {
    color: #FFF;
    background: #d88c5a;
    padding: 0 15px;
    transition: all 0.1s ease-in-out;
    opacity: 1;
}

#workspaces button:hover {
    color: #FFF;
    background: #000;
    border-radius: 15px;
    opacity: 0.4;
}

#window {
    padding: 3px 8px;
    color: #FFF;
    font-size: 14px;
    opacity: 0.8;
}

.modules-right {
    margin: 0px 20px 0;
    padding: 5px 2px;
}

#idle_inhibitor {
    font-size: 16px;
    font-weight: bold;
    padding: 2px 10px;
    opacity: 0.8;
    color: #FFF;
}

#idle_inhibitor.activated {
    font-size: 16px;
    font-weight: bold;
    opacity: 0.8;
    color: #FFF;
}

#pulseaudio {
    font-size: 16px;
    padding: 2px 10px;
    opacity: 0.8;
    color: #FFF;
}

#network {
    font-size: 16px;
    padding: 2px 10px;
    opacity: 0.8;
    color: #FFF;
}

#cpu,
#memory {
    font-size: 16px;
    padding: 2px 10px;
    opacity: 0.8;
    color: #FFF;
}

#custom-power {
    font-size: 17px;
    font-weight: bold;
    padding: 2px 10px;
    opacity: 0.8;
    color: #FFF;
}

